<div class="cart">
  <h2>Shopping Cart</h2>

  @for (item of cart(); track $index) {
  <div class="cart-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle
          >Price: {{ item.price * item.quantity }}$</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <div class="quantity-control">
          <span>Quantity: {{ item.quantity }}</span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="removeItem(item)">
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  }

  <div class="total"><strong>Total:</strong> {{ getTotal() }}$</div>

  <button mat-raised-button color="primary" (click)="saveCart()">
    Save Cart
  </button>
</div>
