<div class="product-list">
  @for (product of products; track $index) {

  <mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price }}$</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="addToCart(product)">
        Add to Cart
      </button>
      <button mat-icon-button color="accent" (click)="increment(product)">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="decrement(product)">
        <mat-icon>remove</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  }

  @if (isLoading){
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
